nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 10;
    transition: transform 500ms, background-color 500ms, box-shadow 500ms;
}

nav.expanded {
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

nav.collapsed {
    background-color: black;
}

nav.expanded #branding {
    width: 115px;
    z-index: 1;
    height: 115px;
    transition: transform 500ms;
    transform: translate(0px, 100px);
}

nav.collapsed #branding {
    z-index: 1;
    width: 70px;
    height: 70px;
    transition: transform 500ms;
}

nav #nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 100%;
    transition: transform 500ms, font-size 500ms;
}

nav.expanded #nav-items {
    transition: transform 500ms;
    transform: translate(-100px, 100px);
}

nav.collapsed #nav-items .nav-item {
    padding: 10px;
    font-size: 18px;
}

nav.expanded #nav-items .nav-item {
    padding: 25px;
    font-size: 24px;
    transition: font-size 500ms;
}

nav #nav-items .nav-item:not(.active):hover {
    opacity: 1;
    color: var(--primary);
    font-weight: normal;

}

nav #nav-items .nav-item.active {
    font-weight: bold;
}

nav #nav-items .nav-item:not(.active) {
    color: white;
    opacity: .8;
    transition: opacity 500ms, font-weight 100ms, color 100ms;
    font-weight: 200;
}